.product {
  &_list-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;

    &-item {
      width: 280px;
      height: 440px;
      border: 1px solid #ececec;
      margin: 0 20px 20px 0;
      padding: 5px;

      &:hover {
        box-shadow: 5px 10px 2px rgba($color: #ececec, $alpha: 0.9);
        transition: all 1s;
      }

      &:nth-child(4) {
        margin-right: 0;
      }

      @media (max-width: 1470px) {
        width: 180px;
        height: 340px;
      }

      .image-wrapper {
        width: 270px;
        height: 335px;

        @media (max-width: 1470px) {
          max-width: 100%;
          max-height: 250px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &_list-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 0;

    &-item {
      width: 550px;
      height: 640px;
      margin: 10px;
      padding: 5px;
      border: 1px solid #ececec;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        box-shadow: 5px 10px 2px rgba($color: #ececec, $alpha: 0.9);
        transition: all 1s;
      }

      &:nth-child(4) {
        margin-right: 0;
      }

      @media (max-width: 1470px) {
        width: 380px;
        height: 440px;
      }

      .image-wrapper {
        width: 480px;
        height: 500px;

        @media (max-width: 1470px) {
          max-width: 100%;
          max-height: 300px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &-title {
    text-decoration: none;
    display: block;
    margin: 5px 0;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      font-weight: 600;
    }

    @media (max-width: 1470px) {
      width: 160px;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    &-category {
      font-size: 14px;

      @media (max-width: 1470px) {
        width: 160px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    &-icon {
      cursor: pointer;

      &:hover {
        fill: #eb7676;
      }
    }
  }
}
