.product {
  &_list-grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;

    &-item {
      width: 280px;
      height: 440px;
      background-color: #ececec;
      margin: 0 20px 20px 0;
      padding: 5px;

      &:hover {
        box-shadow: 5px 10px 2px rgba($color: #000000, $alpha: 0.15);
        transition: all 1s;
      }
    }
  }

  &_list-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;

    &-item {
      width: 550px;
      height: 640px;
      background-color: #ececec;
      margin: 10px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        box-shadow: 5px 10px 2px rgba($color: #000000, $alpha: 0.15);
        transition: all 1s;
      }
    }
  }

  &-title {
    text-decoration: none;
    display: block;
    margin: 5px 0;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      font-weight: 600;
    }
  }

  &-category {
    font-size: 14px;
  }
}
