.product {
  min-height: calc(100vh - 204px);
  &-wrapper {
    width: 100%;
    margin-top: 20px;
  }

  &_list-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 450px) {
      gap: 15px;
    }

    &-item {
      width: 23%;
      border: 1px solid #ececec;
      padding: 5px;
      transition: box-shadow .5s ease-in-out;

      @media (max-width: 850px) {
        width: 45%;
      }

      &:hover {
        box-shadow: 5px 10px 2px rgba($color: #ececec, $alpha: 0.9);
      }

      .image-wrapper {
        width: 100%;
        height: 335px;
        margin: 0 auto;
        @media (max-width: 450px) {
          height: 200px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &_list-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    @media (max-width: 450px) {
      gap: 15px;
    }

    &-item {
      width: 47%;
      padding: 5px;
      border: 1px solid #ececec;
      transition: box-shadow .5s ease-in-out;

      @media (max-width: 550px) {
        width: 100%;
      }

      &:hover {
        box-shadow: 5px 10px 2px rgba($color: #ececec, $alpha: 0.9);
      }

      .image-wrapper {
        width: 100%;
        max-width: 100%;
        height: 400px;
        @media (max-width: 450px) {
          height: 250px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  &-title {
    text-decoration: none;
    display: block;
    margin: 5px auto;
    max-width: 250px;
    min-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }

  &_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    min-width: 100px;
    margin: 20px auto;

    &-category {
      font-size: 14px;
    }

    &-icon {
      cursor: pointer;

      &:hover {
        fill: #eb7676;
      }
    }
  }
}
